<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h2>User list</h2>
	<table border="1">
		<thead>
			<tr>
				<th>sn</th>
				<th>Name</th>
				<th>email</th>
				<th>passwprd</th>
				<th>Conform Password</th>
				<th>Action</th>
			</tr>
			<tr th:each="user:${LIstUser}">
				<td th:text="${user.sn}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.password}"></td>
				<td th:text="${user.conform_password}"></td>
				<td>
					<a th:href="@{}">UPDATE</a>
					<a>DELETE</a>
				</td>
			</tr>
		</thead>
	</table>
  </body>
</html>